**/data/**
**/00_datasets/**
**/trained_models/**
**/experiments/**
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/data_batch_1
*.gz
*.gz
01_training_pytorch/torch_tutorial/data/MNIST/raw/train-labels-idx1-ubyte
01_training_pytorch/torch_tutorial/data/MNIST/raw/train-images-idx3-ubyte
01_training_pytorch/torch_tutorial/data/MNIST/raw/t10k-labels-idx1-ubyte
01_training_pytorch/torch_tutorial/data/MNIST/raw/t10k-images-idx3-ubyte
01_training_pytorch/torch_tutorial/data/MNIST/processed/training.pt
01_training_pytorch/torch_tutorial/data/MNIST/processed/test.pt
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/test_batch
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/readme.html
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/data_batch_5
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/data_batch_4
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/data_batch_3
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/data_batch_2
01_training_pytorch/torch_tutorial/data/cifar-10-batches-py/batches.meta
01_training_pytorch/torch_tutorial/trained_models/cifar_net.pth
01_training_pytorch/torch_tutorial/.ipynb_checkpoints/pytorch-tutorial-01-basics-checkpoint.ipynb
*.pyc

*.log
*.zip
98_notes/notes/pytorch-notes.md
98_notes/notes/pytorch-notes.md
96_work_logs/*
97_assets/*
**/98_notes/**